.vscode/**
.vscode-test/**
src/**
.gitignore
.yarnrc
vsc-extension-quickstart.md
**/tsconfig.json
**/.eslintrc.json
**/*.map
**/*.ts
node_modules/**
.npm
.nvmrc
build.sh
BUILD.md
*.vsix
package-lock.json
yarn.lock 